<!-- Used by theme-essays-builtin-1 -->

<a class="card" href="{{ site.baseurl}}{{ include.page.url }}">
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    <div class="meta">
      <span class="date">{{ include.page.date | date_to_string }}</span>
    </div>

    <!-- Page content only up until '.' -->
    <div class="description">
      {{ include.page.content | markdownify |  split: '<!--- split -->' | first }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui mini labels">
      {% for label in include.page.labels %}
      <div class="ui basic label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>

</a>